@inherits LayoutComponentBase

<div class="Container">
    <div>
        <NavMenu/>
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<div>
    <a></a>
    <a></a>
</div>