@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
<body>
<div class="Container">
    @if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) != "")
    {
        <div>
            <NavMenu/>
        </div>
    }
    <main>
        @Body
    </main>
</div>
</body>


@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />