@inherits LayoutComponentBase

<div>
    <div>
        <NavMenu/>
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<div>
    <a>Reload</a>
    <a>🗙</a>
</div>