@inherits LayoutComponentBase
@inject NavigationManager navManager

<div class="Container">
    @if (!isHomePage)
    {
        <div>
            <NavMenu @ref="navMenu"/>
        </div>
    }

    @if (navMenu != null)
    {
        <CascadingValue Value="navMenu">
            <main>
                @Body
            </main>
        </CascadingValue>
    }
</div>


@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code {
    private NavMenu navMenu;
    private bool isHomePage => navManager.Uri.EndsWith("/");
    
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }
    }

}