@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
<CascadingValue Value="navMenu">
    <body>
        <div class="Container">
            @if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) != "")
            {
            <div>
                <NavMenu @ref="navMenu"/>
            </div>
            } 
            <main>
                @Body
            </main>
        </div>
    </body>
</CascadingValue>


@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code {
    private NavMenu navMenu;

}