@inherits LayoutComponentBase
<CascadingValue Value="navMenu">
    <div class="Container">
        <div>
            <NavMenu @ref="navMenu"/>
        </div>

        <main>
            <article>
                @Body
            </article>
        </main>
    </div>

    <div>
        <a></a>
        <a></a>
    </div>
</CascadingValue>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code {
    private NavMenu navMenu;

}