<div class="Sidebox">
    <div class="TopBox">
        Arvefordeleren
    </div>
    <div class="MidBox">
        <NavLink href="arvelader">
            Arvelader
        </NavLink>
        <NavLink href="aktiv">
            Aktiver
        </NavLink>
        <NavLink href="arvinger">
            Arvinger
        </NavLink>
        <NavLink href="rapport">
            Rapport
        </NavLink>
    </div>
    <div class="BotBox">
        <button>Tilbage</button>
        <button>Næste</button>

    </div>

</div>