<div>
    <div>
        <a>Arvefordeleren</a>
    </div>
</div>

<div>
    <nav>
        <div>
            <NavLink >
                <span></span> Home
            </NavLink>
        </div>
    </nav>
</div>