@inject NavigationManager NavigationManager

<div class="Sidebox">
    <div class="TopBox">
        Arvefordeleren
    </div>
    <div class="MidBox">

        <NavLink class="navLink" href="/" Match="NavLinkMatch.All">
            Hjem
        </NavLink>
        <NavLink class="navLink" href="arvelader">
            Arvelader
        </NavLink>
        <NavLink class="navLink" href="aktiv">
            Aktiver
        </NavLink>
        <NavLink class="navLink" href="arvinger">
            Arvinger
        </NavLink>
        <NavLink class="navLink" href="rapport">
            Rapport
        </NavLink>
    </div>
    <div class="BotBox">
        <button @onclick="() => Back()" class="Back">Tilbage</button>
        <button @onclick="() => Next()" class="Next">Næste</button>

    </div>
</div>

@code
{
    
    private void Back()
    {
        switch (NavigationManager.ToBaseRelativePath(NavigationManager.Uri))
        {
            case "":
                 break;
            case "arvelader":
                NavigationManager.NavigateTo("/");
                break;
            case "aktiv":
                NavigationManager.NavigateTo("/arvelader");
                break;
            case "arvinger":
                NavigationManager.NavigateTo("/aktiv");
                break;
            case "rapport":
                NavigationManager.NavigateTo("/arvinger");
                break;
        }
    }

    private void Next()
    {
        switch (NavigationManager.ToBaseRelativePath(NavigationManager.Uri))
        {
            case "":
                NavigationManager.NavigateTo("/arvelader");
                break;
            case "arvelader":
                NavigationManager.NavigateTo("/aktiv");
                break;
            case "aktiv":
                NavigationManager.NavigateTo("/arvinger");
                break;
            case "arvinger":
                NavigationManager.NavigateTo("/rapport");
                break;
            case "rapport":                
                break;
        }
    }
}


