.Sidebox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}

.TopBox {
    
}

.MidBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.BotBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}