body {
    font-family: Arial, sans-serif;
    background-color: #FFF9F0;
    margin: 0;
    padding: 0;
}

.asset-container {
    width: 90%;
    margin: auto;
    padding: 2%;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFFAF7;
    padding: 2%;
    border-radius: 1%;
    box-shadow: 0.5% 0.5% 1% rgba(0, 0, 0, 0.1);
}

.top-question .help-button {
    background-color: #EFFAF7;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.selector-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2%;
    margin-top: 2%;
}

.arving-card {
    background-color: #F0FAF6;
    padding: 2%;
    border-radius: 1%;
    box-shadow: 0.5% 0.5% 1% rgba(0, 0, 0, 0.1);
    position: relative;
}

.arving-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.remove-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}

.arving-input {
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
    border: 0.1rem solid #CCC;
    border-radius: 0.5rem;
}

.relation-select {
    width: 100%;
    padding: 2%;
    border: 0.1rem solid #CCC;
    border-radius: 0.5rem;
    margin-bottom: 2%;
}

.help-link {
    background-color: transparent;
    border: none;
    color: #76EE9A;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.add-more-button {
    width: 100%;
    padding: 2%;
    background-color: #76EE9A;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 2% 0;
}

#button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.back-button {
    background-color: #CCC;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.next-button {
    background-color: #76EE9A;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
