@page "/Aktiv"
<div class="AssetContainer">
    <div class="TopContainer">
        <div class="TopQuestion">
            <label>Har du en bil?</label>
            <div class="toggle-container">
                <MudSwitch @bind-Value="Car" Color="Color.Success" Size="Size.Large" @onclick="CarBool" />
            </div>
        </div>
        <div class="TopQuestion">
            <label>Har du en bolig?</label>
            <div class="toggle-container">
                <MudSwitch @bind-Value="Home" Color="Color.Success" Size="Size.Large" @onclick="HomeBool"/>
            </div>
        </div>
        <div class="TopQuestion">
            <label>Har du en opsparing?</label>
            <div class="toggle-container">
                <MudSwitch @bind-Value="TempBool" Color="Color.Success" Size="Size.Large" />
            </div>
        </div>
        <div class="TopQuestion">
            <label>Har du en pensionsopsparing?</label>
            <div class="toggle-container">
                <MudSwitch @bind-Value="TempBool" Color="Color.Success" Size="Size.Large" />
            </div>
        </div>
    </div>

    <div class="SelectorContainer">
        @foreach(Asset asset in AssetsRepository.Assets)
        {
        <div class="Selector">
            <AssetSelectorComponent asset="asset"/>
        </div>
        }
        <div class="Selector" id="ButtonBox">
            <button @onclick="AddAsset">Tilføj flere (+)</button>
        </div>
    </div>
</div>



@code {
    public bool Car { get; set; }
    public bool Home { get; set; }
    public bool TempBool { get; set; } // Temp Bool til "Opsparing" og "Pension" slider. Slet denne når vi når så langt.
    
    private Asset? CarAsset, HomeAsset;

    private void AddAsset()
    {
        AssetsRepository.AddAsset(new Asset());
    }

    private void AddAsset(Asset asset)
    {
        AssetsRepository.AddAsset(asset);
    }


    private void CarBool()
    {
        if (CarAsset == null)
        {
            CarAsset = new Asset(AssetType.Køretøj);
            AddAsset(CarAsset);
        }
        else
        {
            return; // Fjern CarAsset Fra listen her
        }
    }

    private void HomeBool()
    {
        if (HomeAsset == null)
        {
            HomeAsset = new Asset(AssetType.Bolig);
            AddAsset(HomeAsset);
        }
        else
        {
            return; // Fjern HomeAsset Fra listen her
        }
    }
}