@page "/Arvinger"
@using Arvefordeleren.Components.Layout

<div class="HeirContainer">
    <div class="TopContainer">
        <h1>Indtast dine arvinger</h1>
    </div>
    <div class="SelectorContainer">
        @foreach (var heir in HeirsRepository.Heirs)
        {
            <div class="Selector">
                <HeirSelectorComponent Heir="heir" OnClose="HandleClose"/>
            </div>
        }
        
        <div class="Selector" id="ButtonBox">
            <button class="AddButton" @onclick="AddHeir">Tilføj flere (+)</button>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public NavMenu? NavMenu { get; set; }
    private List<Heir> HeirsList { get; set; } = HeirsRepository.Heirs; 
    private List<Testator> testatorList { get; set; } = TestatorRepository.testators;

    protected override void OnInitialized()
    {
        Validate();
    }


    private void AddHeir()
    {
        HeirsRepository.AddHeir(new Heir());
        StateHasChanged(); 
    }
    
    private void HandleClose(Heir heir)
    {
        HeirsRepository.RemoveHeir(heir.Id);

        foreach (var testator in testatorList)
        {
            if (testator.Heirs.Any(h => h.Id == heir.Id))
            {
                testator.Heirs.Remove(heir);
                StateHasChanged();
                Validate();
            }
        }
        
    }

    private void Validate()
    {
        if (!HeirsRepository.Heirs.Any() && NavMenu != null)
        {
            NavMenu.IsValid = false;
        }
    }
}
