@inject NavigationManager NavigationManager

@page "/"

<div class="hero">
    <img src="images/Background.png"/>
    <div class="hero-content">
        <h1>Arvefordeleren</h1>
        <button @onclick="Start">Start din fordeling</button>
    </div>
</div>

<div class="content">
    <h1>Vil du importere dit data?</h1>
    <ImportCSVComponent/>
</div>


@code {

    private void Start()
    {
        NavigationManager.NavigateTo("/arvelader");
    }

}