@page "/rapport"
@using Arvefordeleren.Models  <!-- Sørg for at importere Models her -->

<div class="main-container">
    <div class="headliner-container">
        <h3>Rapport</h3>
    </div>

    <div class="info">
        
    </div>

    <div class="body">
        <div>
             <!-- Free Piechart: For general heirs -->
            <FreePiechartComponent />
            <br />
           <!-- Forced Piechart: For forced heirs -->
            <ForcedPiechartComponent />

        </div>

        <div class="right-body">
            <RapportListComponent/>
        </div>
    </div>
</div>

@code {
    private List<Heir> FreeInheritance { get; set; } = new List<Heir>();
    private List<Heir> ForcedInheritance { get; set; } = new List<Heir>();

    // Opdatering af PieChartSeriesProps til at bruge den fælles model
    private List<PieChartSeriesProps> FreeInheritanceSeries => FreeInheritance
        .Select(h => new PieChartSeriesProps { Name = h.Name, Value = h.Share })
        .ToList();

    private List<PieChartSeriesProps> ForcedInheritanceSeries => ForcedInheritance
        .Select(h => new PieChartSeriesProps { Name = h.Name, Value = h.Share })
        .ToList();

    private List<Heir> HeirsList { get; set; } = HeirsRepository.Heirs;

    protected override void OnInitialized()
    {
        HeirsRepository.OnForcedHeirsUpdated = () =>
        {
            StateHasChanged(); 
        };
    }
}
