@page "/rapport"

<div class="main-container">
    <div class="headliner-container">
        <h3>Rapport</h3>
    </div>

    <div class="info">
        
    </div>

    <div class="body">
        <div>

        </div>

        <div class="right-body">
            <RapportListComponent/>
        </div>
        
    </div>
</div>

@code {

    
}
