@page "/rapport"

<div class="main-container">
    <div class="headliner-container">
        <h3>Rapport</h3>
    </div>

    <div class="info">
        
    </div>

    <div class="body">
        <div>
            <FreePiechartComponent InheritanceInput="@FreeInheritanceSeries" />
        </div>

        <div class="right-body">
            <RapportListComponent/>
        </div>
        
    </div>
</div>

@code {
    private List<Heir> FreeInheritance { get; set; } = new List<Heir>();

    private List<FreePiechartComponent.PieChartSeriesProps> FreeInheritanceSeries => FreeInheritance.Select(h => new FreePiechartComponent.PieChartSeriesProps { Name = h.Name, Value = h.Share }).ToList();

    
}
