@page "/arvelader"

<div class="main-container">
    <div class="headliner-container">
        <h3>Velkommen til Arvefordeleren</h3>
        <h3>Indtast dine oplysninger</h3>
    </div>
    
    <div class="info">
        <p>Ønsker du at lave arvsfordeling alene, skal du blot indtaste dine oplysninger. Ønsker du at lave en arvsfordeling med en sammenlever eller ægtefælle, skal du blot tilføje vedkommende.</p>
    </div>
    
    <div class="body">
        <TestatorComponent Testator="TestatorRepository.GetTestatorById(1)"/>
        <TestatorComponent IsSecondary="true" Testator="TestatorRepository.GetTestatorById(2)"/>
    </div>
</div>



@code {
    protected override void OnInitialized()
    {
        if (!TestatorRepository.testators.Any())
        {
            TestatorRepository.AddNewTestator(new Testator());
            TestatorRepository.AddNewTestator(new Testator());
        }
    }

}
