@page "/arvelader"

<div class="main-container">
    <div class="headliner-container">
        <h3>Velkommen til Arvefordeleren. Du skal nu indtaste dine oplysninger som arvelader</h3>
    </div>

    <div class="body-container">
        <p>Ønsker du at lave arvsfordeling alene, skal du blot indtaste dine oplysninger. Ønsker du at lave en arvsfordeling med en sammenlever eller ægtefælle, skal du blot tilføje vedkommende.</p>

        <p>Dine oplysninger gemmes ikke af os og slettes, når du forlader Arvefordeleren.</p>

        @if (testators.Any())

        {
            <div class="div-tabel">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th class="thName">Navn</th>
                            <th class="thAddress">Adresse</th>
                            <th class="thEmail">Email</th>
                            <th class="thActions">Handling</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @foreach (var testator in testators)

                        {
                            <tr>
                                <td>@testator.Name</td>                               
                                <td>@testator.Address</td>
                                <td>@testator.Email</td>
                                <td>
                                    <button class="btn btn-delete" @onclick="() => DeleteTestator(testator.Id)">Slet</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        
        
        <div class="testatorinfo-container">
            <EditForm Model="@testator" OnValidSubmit="AddTestator" FormName="CreateTestatorForm">
                <div class="form-group">
                    <label for="name">Navn:</label>
                    <InputText id="name" class="form-control" @bind-Value="testator.Name"></InputText>
                </div>

                <div class="form-group">
                    <label for="address">Adresse:</label>
                    <InputText id="address" class="form-control" @bind-Value="testator.Address"></InputText>
                </div>

                <div class="form-group">
                    <label for="mail">Email:</label>
                    <InputText id="mail" class="form-control" @bind-Value="testator.Email"></InputText>
                </div>

                <button type="submit" class="btn btn-primary">Gem arvelader</button>
            </EditForm>
        </div>
    </div>
</div>



@code {
    private Testator testator = new Testator();
    private List<Testator> testators = new List<Testator>();

    protected override void OnInitialized()
    {
        testators = TestatorRepository.GetTestators();
    }


    private void AddTestator()
    {
        if (!string.IsNullOrWhiteSpace(testator.Name) && !string.IsNullOrWhiteSpace(testator.Address) && !string.IsNullOrWhiteSpace(testator.Email))
        {
            TestatorRepository.AddNewTestator(new Testator
                {
                    Name = testator.Name,
                    Address = testator.Address,
                    Email = testator.Email
                });

            // Refresh the local list
            testators = TestatorRepository.GetTestators();

            // nulstiller formen til en ny
            testator = new Testator();
        }
    }


    private void DeleteTestator(int id)
    {
        TestatorRepository.DeleteTestator(id);

        // Refresh the local list 
        testators = TestatorRepository.GetTestators();
    }
}
