/* Main container */
.main-container {
    width: 80vw;
}

/* Headliner */
.headliner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFFAF7;
    width: 100%;
    height: 10vh;
    border-radius: 8px;
    margin-bottom: 4vh;
    box-shadow: 2px 2px 0 rgba(51, 51, 51, 0.2);
    padding: 1vh;
}

/* Body container til info text */
.body-container {
    padding: 2vw;
    background-color: #EFFAF7;
    border-radius: 15px;
}

/* Tabel til testators */
.div-tabel {
    width: 100%;
    margin-bottom: 2vh;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 2px 2px 0 rgba(51, 51, 51, 0.2);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thName, .thAddress, .thEmail, thActions {
    padding: 1vw;
    text-align: left;
    background-color: #EFFAF7;
    font-weight: bold;
}

.tbody td {
    padding: 1vw;
    text-align: left;
}

.btn-delete {
    background-color: #FF6347; 
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(51, 51, 51, 0.2);
}

    .btn-delete:hover {
        background-color: #E34A2C;
    }

/* Testator info form container */
.testatorinfo-container {
    background-color: #ffffff;
    padding: 2vw;
    margin-top: 2vh;
    border-radius: 8px;
    box-shadow: 2px 2px 0 rgba(51, 51, 51, 0.2);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

    .form-group label 
    {
        font-size: 1rem;
        margin-bottom: 5px;
    }


.form-group .form-control
{
    flex: 1;

}

    .form-group input {
        width: 100%; /* Inputfelterne fylder 100% af containerens bredde */
        padding: 10px; 
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }

label {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

input.form-control {
    width: 100%;
    padding: 1vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 0 rgba(51, 51, 51, 0.1);
}

button {
    width: 100%;
    height: 50px;
    background-color: #76EE9A;
    color: white;
    border: none;
    box-shadow: 2px 2px 0 rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #64d08f;
    }


