@page "/arvelader"
@using Arvefordeleren.Components.Layout

<div class="main-container">
    <div class="headliner-container">
        <h3>Velkommen til Arvefordeleren</h3>
        <h3>Indtast dine oplysninger</h3>
    </div>

    <div class="info">
        <p>Ønsker du at lave arvsfordeling alene, skal du blot indtaste dine oplysninger. Ønsker du at lave en arvsfordeling med en sammenlever eller ægtefælle, skal du blot tilføje vedkommende.</p>
    </div>

    <div class="tooltip">
        Hjælp
        <span class="tooltiptext">Du kan oprette et testamente som enlig eller ægtefæller. Dette har betydning for hvordan din tvangsarv blandt andet testamenteres til efterkommere.</span>
    </div>

    <div class="body">
        @if (TestatorRepository.testators.Any())
        {
            foreach (var testator in TestatorRepository.testators)
            {
                <TestatorComponent Testator="testator" />
            }
        }
    </div>
</div>



@code {
    [CascadingParameter] public NavMenu? NavMenu { get; set; }

    protected override void OnInitialized()
    {
        if (!TestatorRepository.testators.Any())
        {
            TestatorRepository.AddNewTestator(new Testator());
            TestatorRepository.AddNewTestator(new Testator());
        }

        if (NavMenu != null && !TestatorRepository.testators.Any())
        {
            NavMenu.IsValid = false;
        }
    }
}
