
@using Arvefordeleren.Models
@using Arvefordeleren.Models.Repositories

<div>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" @bind="Name" />
        <br />
        <br />
        <button class="Knapper" type="button" @onclick="AddArving">Add</button>
    </form>
    <h2>Added Arvinger:</h2>
    <ul>
        @foreach (var arving in ArvingerRepository.GetArvinger())
        {
            <li>
                @arving.Name
                <button class="Knapper" type="button" @onclick="() => ArvingerRepository.RemoveArving(arving)">Remove</button>
            </li>
        }
    </ul>
</div>

@code {
    private string Name { get; set; }

    //Hej
    private void AddArving()
    {
        ArvingerRepository.AddArving(new Arving { Name = Name });
        Name = string.Empty;

    }

    private void RemoveArving(Arving arving)
    {
        ArvingerRepository.RemoveArving(arving);
    }
}