<div class="AssetContainer">
    <h4>Aktiv</h4>
    <EditForm Model="asset">
        <InputSelect @bind-Value="asset.Type" name="Types">
            @foreach (AssetType type in Enum.GetValues(typeof(AssetType)))
            {
            <option value=@type>@type.ToString()</option>
            }
        </InputSelect>

        @if (Note || asset.Note != null)
        {
        <InputText @bind-Value="asset.Note" id="inputBox" placeholder="Note"/>
        }
        else
        {
        <div class="NoteBox">
            <a @onclick="() => Note = true">Tilføj Note (+)</a>
        </div>
        }
    </EditForm>
    
    <a>Hjælp</a>
</div>


@code {
    [Parameter]
    public Asset asset { get; set; }
    
    private bool Note = false;
}