<div class="AssetContainer" style="position: relative;">
    <div style="display: flex; flex-direction: row;">
        <div>
            <h4>Angiv aktiv</h4>
        </div>
        <div style="position: absolute; top: 0; right: 0;">
            <button style="background: none; border: none; padding: 0.3vw, 0.3vh; font-size: 1.5em; cursor: pointer">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <select name="Types">
        @foreach (AssetType type in Enum.GetValues(typeof(AssetType)))
        {
            <option value=@type>@type.ToString()</option>
        }
    </select>
    
    @if (Note)
    {
        <input type="text" placeholder="Note"/>
    }
    else
    {
        <div class="NoteBox">
            <a @onclick="() => Note = true">Tilføj Note (+)</a>
        </div>
    }
    
    <a>Hjælp</a>
</div>


@code {
    private bool Note = false;


}