@using Arvefordeleren.Components.Layout
<div class="HeirContainer">
    <div class="TopBox">
        <div>
            <h4>Arving</h4>
        </div>
        <div class="AssetContainer-remove-btn">
            <button class="Remove-btn" @onclick="() => Close(Heir)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    
    <EditForm EditContext="editContext">
        <DataAnnotationsValidator/>
        <ValidationMessage For="() => Heir.Name"></ValidationMessage>
        <InputText id="name" @bind-Value="Heir.Name" type="text" placeholder="Indtast Navn *"/>
        <select @bind="Heir.Relation" name="Relation">
            @foreach (var relation in Enum.GetValues<RelationType>())
            {
                <option value="@relation">@relation.ToString()</option>
            }
        </select>
    </EditForm>

</div>


@code {
    [CascadingParameter] public NavMenu? NavMenu { get; set; }
    [Parameter] public Heir Heir { get; set; }
    [Parameter] public EventCallback<Heir> OnClose { get; set; }

    private EditContext editContext;
    private bool Note = false;

    private void RemoveHeir(Heir heir)
    {
        HeirsRepository.RemoveHeir(heir.Id);
        Validate();

    }

    protected override void OnInitialized()
    {
        editContext = new EditContext(Heir);
        editContext.OnFieldChanged += HandleFieldChanged;
        Validate();
    }

    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        Validate();
    }

    private async void Close(Heir heir)
    {
        if (OnClose.HasDelegate)
        {
            await OnClose.InvokeAsync(heir);
            Validate();
        }
    }

    private void Validate()
    {
        if (NavMenu != null)
        {
            NavMenu.IsValid = ValidationService.IsAllFieldsValid(HeirsRepository.Heirs);
        }
    }

}