<div class="HeirContainer">
    <div class="TopBox">
        <h4>Arving</h4>
     
    </div>
    
    <EditForm Model="Heir">
        <InputText @bind-Value="Heir.Name" type="text" placeholder="Indtast Navn"/>
    </EditForm>

    <a>Hjælp</a>
</div>


@code {
    private bool Note = false;
    
    [Parameter]
    public Heir Heir { get; set; }


}