<div class="HeirContainer">
    <div class="TopBox">
        <h4>Arving</h4>
     
    </div>
    
    <EditForm Model="Heir">
        <InputText @bind-Value="Heir.Name" type="text" placeholder="Indtast Navn"/>
        <select @bind="Heir.Relation" name="Relation">
            @foreach (var relation in Enum.GetValues<RelationType>())
            {
                <option value="@relation">@relation.ToString()</option>
            }
        </select>
    </EditForm>

</div>


@code {
    private bool Note = false;
    
    [Parameter]
    public Heir Heir { get; set; }

}